<p *ngIf="!meters"><em>Loading...</em></p>
<button (click)="addBtn()">Add</button>

<table class='table table-bordered' aria-labelledby="tableLabel" *ngIf="meters">
  <thead>
    <tr>
        <th>Meter Name</th>
        <th>Meter Number</th>
        <th>Previous Check Date</th>
        <th>Next Check Date</th>
        <th>asdsa</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let meter of meters">
        <td>{{meter.meterName}}</td>
        <td>{{meter.meterNumber}}</td>
        <td>{{meter.prevCheckDate}}</td>
        <td>{{meter.nextCheckDate}}</td>
        <td><img [src]="createDocPath(meter.docPath)" alt="profile picture" style="width:60px; height:60px;"></td>
        <td>
          <button class="btn btn-primary" (click)="updateBtn(meter.id)">Update</button>
          <button class="btn btn-danger" (click)="removeBtn(meter.id)">Delete</button>
        </td>
    </tr>
  </tbody>
</table>