<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form method="post" [formGroup]="apartmentForm" (ngSubmit)="sendData(apartmentForm.value)">
          <div class="form-group">
            <label for="relatedFamily">Related Family</label>
            <input class="form-control" id="relatedFamily" type="text" formControlName="relatedFamily" />
          </div>

          <div class="form-group">
            <label for="registeredCountPeople">Registered Count People</label>
            <input class="form-control" id="registeredCountPeople" type="text" formControlName="registeredCountPeople" />
          </div>

          <div class="form-group">
            <label for="receiptCode">Receipt Code</label>
            <input class="form-control" id="receiptCode" type="text" formControlName="receiptCode" />
          </div>

          <div formGroupName="address">
            <div class="form-group">
                <label for="country">Countries</label>
                <app-selectbox name="country" [url]="endpoint + 'address/countries'" formControlName="country">
                  Loading countries...
                </app-selectbox>
              </div>

              <div class="form-group">
                <label for="state">State</label>
                <app-selectbox name="state" [url]="endpoint + 'address/states'" formControlName="state">
                  Loading states...
                </app-selectbox>
              </div>

              <div class="form-group">
                <label for="city">Cities</label>
                <app-selectbox name="city" [url]="endpoint + 'address/cities'" formControlName="city">
                  Loading cities...
                </app-selectbox>
              </div>

              <div class="form-group">
                <label for="streets">Street</label>
                <app-selectbox name="street" [url]="endpoint + 'address/streets'" formControlName="street">
                  Loading streets...
                </app-selectbox>
              </div>

              <div class="form-group">
                <label for="apartmentNumber">Apartment Number</label>
                <input class="form-control" id="apartmentNumber" type="text" formControlName="apartmentNumber" />
              </div>

              <div class="form-group">
                <label for="houseNumber">House Number</label>
                <input class="form-control" id="houseNumber" type="text" formControlName="houseNumber" />
              </div>

              <div class="form-group">
                <label for="buildingNumber">Building Number</label>
                <input class="form-control" id="buildingNumber" type="text" formControlName="buildingNumber" />
              </div>

              <div class="form-group">
                <label for="entranceNumber">Entrance Number</label>
                <input class="form-control" id="entranceNumber" type="text" formControlName="entranceNumber" />
              </div>
          </div>

          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>

