<p *ngIf="!dataArray"><em>Loading...</em></p>
<button (click)="addBtn()">Add</button>

<table class='table table-bordered' aria-labelledby="tableLabel" *ngIf="dataArray">
  <thead>
    <tr>
      <th *ngFor="let head of headArray">{{getFormattedHeads(head)}}</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry  of dataArray">
        <td *ngFor="let head of headArray">{{entry[head]}}</td>
        <td>
          <button class="btn btn-primary" (click)="updateBtn(entry.id)">Update</button>
          <button class="btn btn-danger" (click)="removeBtn(entry.id)">Delete</button>
        </td>
    </tr>
  </tbody>
</table>