<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form method="post" [formGroup]="meterForm" (ngSubmit)="sendData(meterForm.value)">
          <div class="form-group">
            <label for="meterName">Meter Name</label>
            <input class="form-control" id="meterName" type="text" formControlName="meterName" />
          </div>

          <div class="form-group">
            <label for="meterNumber">Meter Number</label>
            <input class="form-control" id="meterNumber" type="text" formControlName="meterNumber" />
          </div>

          <div class="form-group">
            <label for="prevCheckDate">Previous Check Date</label>
            <input class="form-control" id="prevCheckDate" type="date" formControlName="prevCheckDate" />
          </div>
            <div class="form-group">
                <label for="nextCheckDate">Next Check Date</label>
                <input class="form-control" id="nextCheckDate" type="date" formControlName="nextCheckDate" />
              </div>

              <div class="form-group">
                <label for="apartmentId">Apartment Id</label>
                <input class="form-control" id="apartmentId" type="text" formControlName="apartmentId" />
              </div>

              <!-- <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" id="location" type="text" formControlName="location" />
              </div> -->

          <button class="btn btn-primary" type="submit" [disabled]="!meterForm.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>

